{% set pagetitle = 'Consent withdrawal'|trans %}
{% extends "base.twig" %}

{% block content %}
<p>
    <p>{{ granted }}</p>
    <p>{{ 'If you withdraw all consents given, you will be asked again each time you visit a new service, whether or not you would like to accept that a given set of personal information are transferred.'|trans }}</p>
</p>

<!-- <p>You have granted {{ consents }} consents to {{ consentServices }} different services.</p>
<p>If you withdraw all consents given, you will be asked again each time you visit a new service, whether or not you would like to accept that a given set of attributes are transferred.</p> -->

<form method="get" action="{{ moduleURL('consentSimpleAdmin/admin') }}">
    <input type="submit" name="withdraw" value="{{ 'Withdraw all consent given'|trans }}" />
</form>
<!--  Withdraw all consent given -->

{% endblock %}
